<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Imagen4.jpg" alt="foto de perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nom">Mija Tello Naddia</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, est reprehenderit assumenda, quasi, laboriosam laborum numquam deleniti vitae excepturi dolorum asperiores perferendis enim doloremque? Quisquam dignissimos ipsa modi. Odit, numquam?</p>
        </span>
    </div>
</div>
