<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}}  alt="foto de perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nom">{{persona.nombre}} {{persona.apellido}}  </p>
        <p>{{persona.position}} </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.aboutMe}} </p>
        </span>
    </div>
</div>
