<div class="row">
    <div class="container">
        <div class="logo">
            <img  src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/naddia.mija"><img src="../../../assets/face.png" id="facebook"></a>
            <a href="https://github.com/NaddMija/AP_MijaTelloNaddia"><img src="../../../assets/githup.png" id="githup"></a>
            <a href=""><img src="../../../assets/inst.png" id="instagram"></a>
            <a href="https://twitter.com/Nadd10505635?t=CSJK60OvS4gLArElSnxupA&s=08"><img src="../../../assets/twitter.svg" id="instagram"></a>

            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>

    </div>

</div>







